openapi: 3.0.3
info:
  title: XMP Creative Library API
  version: "1.0.0"
  description: |
    Creative Library API for XMP Open API platform.

    This document is based on the "Creative Library API" help page and describes
    the following interfaces:
      1) Obtain Creative Details
      2) Upload Creative
      3) Access Folder List
      4) Create Folder

    All requests follow the common Open API protocol:
      - Content-Type: application/json
      - Must include client_id, timestamp, sign in the request body
      - Signature rule: sign = md5(client_secret + timestamp)

servers:
  - url: https://xmp-open.mobvista.com
    description: XMP Open API (mobvista domain)
  - url: https://xmp-open.nativex.com
    description: XMP Open API (nativex domain)

paths:
  /v2/media/material/list:
    post:
      summary: Obtain Creative Details
      description: |
        Query creative details in the enterprise creative library.

        Notes:
          - Operation permission: company administrator
          - Supports querying only materials under the enterprise material library
          - QPM limit: 120 requests per minute. If exceeded, API returns
            "request is too frequent" and you must wait until the next minute.
          - Fields other than is_deleted, page, page_size — at least one must be provided.
      requestBody:
        $ref: '#/components/requestBodies/CreativeListRequestBody'
      responses:
        '200':
          description: Creative list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeListResponse'

  /v1/media/material/upload:
    post:
      summary: Upload Creative
      description: |
        Upload creatives to the XMP creative library.

        Notes:
          - Operation permission: company administrator
          - A single request can upload up to 10 materials.
      requestBody:
        $ref: '#/components/requestBodies/CreativeUploadRequestBody'
      responses:
        '200':
          description: Upload result response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeUploadResponse'

  /v1/media/folder/list:
    post:
      summary: Access Folder List
      description: |
        Return the folder list of the creative library.

        Notes:
          - Operation permission: company administrator
      requestBody:
        $ref: '#/components/requestBodies/FolderListRequestBody'
      responses:
        '200':
          description: Folder list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderListResponse'

  /v1/media/folder/add:
    post:
      summary: Create Folder
      description: |
        Create folders in the creative library.

        Notes:
          - Operation permission: company administrator
          - A single request can create up to 10 folders (data array length).
      requestBody:
        $ref: '#/components/requestBodies/FolderCreateRequestBody'
      responses:
        '200':
          description: Folder creation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderCreateResponse'

components:
  schemas:
    AuthParams:
      type: object
      description: Common authentication parameters required in the request body.
      required:
        - client_id
        - timestamp
        - sign
      properties:
        client_id:
          type: string
          description: Unique client identifier.
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp (seconds) at the time of the request.
        sign:
          type: string
          description: Signature string, md5(client_secret + timestamp).

    CreativeListRequest:
      allOf:
        - $ref: '#/components/schemas/AuthParams'
        - type: object
          properties:
            start_date:
              type: string
              format: date
              description: |
                Start date (creative create time), format YYYY-MM-DD.
                Cannot be later than end_date. Maximum span between start_date
                and end_date is 30 days.
            end_date:
              type: string
              format: date
              description: |
                End date (creative create time), format YYYY-MM-DD.
                Must be provided together with start_date.
            user_material_id:
              type: array
              items:
                type: string
              description: |
                Creative local ID list.
            md5_file_id:
              type: array
              items:
                type: string
              description: |
                Creative MD5 list.
            is_deleted:
              type: integer
              description: |
                Whether deleted.
                  0: not deleted
                  1: deleted
                If not provided, all creatives are returned.
            folder_id:
              type: array
              items:
                type: integer
              description: Folder ID list.
            page:
              type: integer
              minimum: 1
              default: 1
              description: Current page number, default is 1.
            page_size:
              type: integer
              minimum: 1
              maximum: 1000
              default: 200
              description: Page size, default 200, allowed range 1–1000.
          description: |
            Request body for obtaining creative details.
            Note: Besides is_deleted, page, page_size, at least one of the other
            filter fields must be provided.

    Tag:
      type: object
      description: Creative tag object.
      properties:
        level:
          type: integer
        parent_id:
          type: integer
        id:
          type: integer
        name:
          type: string

    PersonRef:
      type: object
      description: Person reference (designer or creative person).
      properties:
        id:
          type: integer
        name:
          type: string

    Material:
      type: object
      description: Creative material object.
      properties:
        material_name:
          type: string
          description: Creative name.
        material_id:
          type: integer
          description: Creative ID.
        user_material_id:
          type: integer
          description: Creative local ID.
        md5_file_id:
          type: string
          description: Creative MD5.
        material_type:
          type: string
          description: |
            Creative type. Examples: image, video, other.
        tag:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: Tag list.
        designer:
          type: array
          items:
            $ref: '#/components/schemas/PersonRef'
          description: Designer list.
        customer:
          type: array
          items:
            $ref: '#/components/schemas/PersonRef'
          description: Creative people list.
        width:
          type: integer
          description: Creative width in pixels.
        height:
          type: integer
          description: Creative height in pixels.
        shape:
          type: string
          description: |
            Shape of creative, e.g. horizontal, vertical, square.
        format:
          type: string
          description: File format, e.g. mp4, jpg.
        duration:
          type: number
          format: float
          description: |
            Duration in seconds. Returns 0 if the creative is an image.
        bit_rate:
          type: number
          format: float
          description: |
            Video bit rate in bps. Returns 0 if the creative is an image.
        url:
          type: string
          format: uri
          description: Thumbnail URL.
        file_url:
          type: string
          format: uri
          description: File URL.
        size:
          type: string
          description: |
            File size. Documentation states "float bytes", but example shows
            values like "18.46 MB", so this is modeled as a string.
        is_deleted:
          type: integer
          description: |
            Delete flag.
              0: not deleted
              1: deleted
        folder_id:
          type: integer
          description: Folder ID.
        folder_name:
          type: string
          description: Folder name.
        audit_status:
          type: integer
          description: |
            Audit status.
              0: pending approval
              1: approved
             -1: disapproved
             -2: folder not audited
        created_time:
          type: string
          format: date-time
          description: Creative create time.
        updated_time:
          type: string
          format: date-time
          description: Creative update time.

    CreativeListResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        msg:
          type: string
          description: Message.
        data:
          type: array
          description: Returned interface content.
          items:
            $ref: '#/components/schemas/Material'
      required:
        - code
        - msg
        - data

    CreativeUploadItem:
      type: object
      description: Single creative upload item.
      required:
        - folder_id
        - user_material_name
        - material_url
        - material_ext
        - material_type
      properties:
        folder_id:
          type: integer
          description: Folder ID.
        user_material_name:
          type: string
          maxLength: 200
          description: |
            Creative name, limited to 200 characters.
            Creative names in the same folder cannot be duplicated.
        material_url:
          type: string
          format: uri
          description: |
            Creative URL. Supports OSS/S3 addresses.
        material_ext:
          type: string
          description: |
            Creative extension.
            Image: jpg, jpeg, png, bmp
            Video: mp4, mov, avi, mpeg
            Playable: html, htm
        material_type:
          type: integer
          description: |
            Creative type:
              1: image
              2: video
              10: playable
        media:
          type: string
          description: |
            Channel. Required when material_type = 10.
            Allowed values: mintegral, applovin, unity, ironsource.
        tag_name:
          type: array
          items:
            type: string
          description: |
            Tag names. Multiple values can be passed.
            When a value does not exist under the company dimension,
            a new tag will be created. Currently only first-level tags
            are supported.
        customer_id:
          type: array
          items:
            type: integer
          description: |
            Creative people. Default null.
            Pass any enabled user ID under the company.
        designer_id:
          type: array
          items:
            type: integer
          description: |
            Designers. Default null.
            Multiple enabled user IDs under the design department can be passed.
        audit_status:
          type: integer
          description: |
            Audit status. Default is approved.
              0: pending review
              1: approved
             -1: not approved
            Only valid when the asset library is enabled for review.

    CreativeUploadResponseItem:
      type: object
      properties:
        folder_id:
          type: integer
          description: Folder ID.
        user_material_id:
          type: integer
          description: |
            The creative ID inside XMP, unique.
            This field is 0 when upload fails.
        user_material_name:
          type: string
          description: XMP creative name.
        status:
          type: integer
          description: |
            Upload status.
              0: failed
              1: successful
        error_msg:
          type: string
          description: Error message.
      required:
        - folder_id
        - user_material_id
        - user_material_name
        - status
        - error_msg

    CreativeUploadResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        msg:
          type: string
          description: Message.
        data:
          type: array
          description: Returned interface content.
          items:
            $ref: '#/components/schemas/CreativeUploadResponseItem'
      required:
        - code
        - msg
        - data

    FolderListRequest:
      allOf:
        - $ref: '#/components/schemas/AuthParams'
        - type: object
          required:
            - folder_type
          properties:
            folder_type:
              type: integer
              description: |
                Folder type:
                  1: my library
                  2: team library
            parent_folder_id:
              description: |
                Parent folder ID.
                Documentation shows this as an integer, but the example request
                uses an array of IDs. This field therefore accepts either a
                single integer or an array of integers.
              oneOf:
                - type: integer
                - type: array
                  items:
                    type: integer

    FolderAuthConfigItem:
      type: object
      description: Folder authorization configuration.
      properties:
        team_id:
          type: integer
          description: Team ID.
        user_id:
          type: integer
          description: User ID.

    FolderItem:
      type: object
      description: Folder object in the creative library.
      properties:
        folder_id:
          type: integer
          description: Folder ID.
        folder_name:
          type: string
          description: Folder name.
        folder_type:
          type: integer
          description: |
            Folder type:
              1: my library
              2: team library
        parent_folder_id:
          type: integer
          description: Parent folder ID.
        parent_folder_name:
          type: string
          description: Parent folder name.
        is_audit:
          type: integer
          description: |
            Whether to enable auditing:
              0: no
              1: yes
        auth_type:
          type: integer
          description: |
            Authority type:
              1: visible to self
              2: visible to specified users/teams
              4: visible to the company
        auth_config:
          type: array
          description: |
            Authorization configuration. Only available when auth_type = 2.
          items:
            $ref: '#/components/schemas/FolderAuthConfigItem'

    FolderListResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        msg:
          type: string
          description: Message.
        data:
          type: array
          description: Returned folder list.
          items:
            $ref: '#/components/schemas/FolderItem'
      required:
        - code
        - msg
        - data

    FolderCreateItem:
      type: object
      description: Single folder creation item.
      required:
        - parent_folder_id
        - folder_name
      properties:
        parent_folder_id:
          type: integer
          description: |
            Parent folder ID.
            When parent_folder_id = 0, it means creating a new first-level
            folder under the creative library.
        folder_name:
          type: string
          maxLength: 200
          description: Folder name, up to 200 characters.
        folder_type:
          type: integer
          description: |
            Folder type:
              1: my library
              2: team library
        is_audit:
          type: integer
          description: |
            Whether to enable auditing.
              0: no (default)
              1: yes
            When parent_folder_id = 0, this field is selectable and uploadable.
        auth_type:
          type: integer
          description: |
            Authority type.
            Required when parent_folder_id = 0.
              1: visible only to yourself
              2: visible to designated users/teams
              4: visible to the company
        auth_config:
          type: array
          description: |
            Required when auth_type = 2. Authorization configuration.
          items:
            $ref: '#/components/schemas/FolderAuthConfigItem'

    FolderCreateResponseItem:
      type: object
      properties:
        parent_folder_id:
          type: integer
          description: Parent folder ID.
        folder_id:
          type: integer
          description: Folder ID.
        folder_name:
          type: string
          description: Folder name.
        status:
          type: integer
          description: |
            Status:
              0: unsuccessfully
              1: successfully
        error_msg:
          type: string
          description: Error message.
      required:
        - parent_folder_id
        - folder_id
        - folder_name
        - status
        - error_msg

    FolderCreateResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        msg:
          type: string
          description: Message.
        data:
          type: array
          description: Returned interface content.
          items:
            $ref: '#/components/schemas/FolderCreateResponseItem'
      required:
        - code
        - msg
        - data

  requestBodies:
    CreativeListRequestBody:
      required: true
      description: Request body for obtaining creative details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreativeListRequest'

    CreativeUploadRequestBody:
      required: true
      description: Request body for uploading creatives.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AuthParams'
              - type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    description: Data contains all objects to be uploaded.
                    items:
                      $ref: '#/components/schemas/CreativeUploadItem'

    FolderListRequestBody:
      required: true
      description: Request body for accessing folder list.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FolderListRequest'

    FolderCreateRequestBody:
      required: true
      description: Request body for creating folders.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AuthParams'
              - type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    description: Data contains all folder objects to be created.
                    items:
                      $ref: '#/components/schemas/FolderCreateItem'
