openapi: 3.0.3
info:
  title: AppsFlyer Raw Data Pull API - In-app events report (v5)
  version: "1.0.0"
  description: |
    In-app events raw data export (non-organic).
    Records the events performed by users.
    Data freshness: Real-time.

servers:
  - url: https://hq1.appsflyer.com

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

paths:
  /api/raw-data/export/app/{app-id}/in_app_events_report/v5:
    get:
      operationId: getInAppEventsReportV5
      summary: In-app events raw data report (non-organic)
      description: |
        Exports a raw-data report of in-app events (non-organic).
        Records the events performed by users. Data freshness is real-time.
      security:
        - BearerAuth: []
      parameters:
        # Path parameters
        - name: app-id
          in: path
          required: true
          description: Application ID.
          schema:
            type: string

        # Required query parameters
        - name: from
          in: query
          required: true
          description: From date (report start date), inclusive.
          schema:
            type: string
            format: date
            example: "2025-11-01"

        - name: to
          in: query
          required: true
          description: To date (report end date), inclusive.
          schema:
            type: string
            format: date
            example: "2025-11-07"

        # Optional filters
        - name: media_source
          in: query
          required: false
          description: |
            Use to filter by a specific media source.

            Set both the category and media_source parameters as follows:
            - For Facebook: category=facebook, media_source=facebook
            - For Twitter: category=twitter, media_source=twitter
            - For all other media sources: category=standard, media_source={media source name}

            Examples:
            - media_source=facebook&category=facebook
            - media_source=abc_example&category=standard
          schema:
            type: string
            example: facebook

        - name: category
          in: query
          required: false
          description: |
            media_source category. Must be used together with media_source.

            Values:
            - standard: all media sources except Facebook/Twitter
            - facebook
            - twitter
          schema:
            type: string
            enum:
              - standard
              - facebook
              - twitter
            example: standard

        - name: event_name
          in: query
          required: false
          description: |
            Filter in-app events by specified event names.
            Comma-separated list of event names.

            Example (query string):
              event_name=af_purchase,ftd
          schema:
            type: array
            items:
              type: string
            example:
              - af_purchase
              - ftd
          style: form
          explode: false

        - name: currency
          in: query
          required: false
          description: |
            Currency of revenue and cost.

            - preferred: app-specific currency (default)
            - USD: force USD
          schema:
            type: string
            enum:
              - preferred
              - USD
            example: preferred

        - name: timezone
          in: query
          required: false
          description: |
            Time zone used for the report.

            - If not sent, data returns using UTC.
            - To use the app-specific time zone, send the value configured in the app settings.
              For example: timezone=Europe/Paris

            Pulling data in the selected time zone is only available from the date
            when the timezone setting was made. Data prior to that uses UTC.
          schema:
            type: string
            example: Europe/Paris

        - name: geo
          in: query
          required: false
          description: |
            Filter the data by country code (limitation: only one country code per API call).
            2-letter ISO 3166-1 alpha-2 country code (for example: US, JP, GB).
          schema:
            type: string
            maxLength: 2
            example: US

        - name: maximum_rows
          in: query
          required: false
          description: |
            Maximum number of rows returned by a single API call.

            Defaults:
            - If not sent: up to 200,000 rows.
            - 200000: Up to 200K rows returned.
            - 1000000: Up to 1M rows returned.
          schema:
            type: integer
            enum:
              - 200000
              - 1000000
            example: 200000

        - name: from_install_time
          in: query
          required: false
          description: From install time (start of install time-based filter).
          schema:
            type: string
            format: date-time
            example: "2025-11-01T00:00:00Z"

        - name: to_install_time
          in: query
          required: false
          description: To install time (end of install time-based filter).
          schema:
            type: string
            format: date-time
            example: "2025-11-07T23:59:59Z"

        - name: agency
          in: query
          required: false
          description: |
            Use to filter by a specific agency (or multiple agencies).
            Comma-separated list of agency names.
          schema:
            type: array
            items:
              type: string
            example:
              - example_agency
          style: form
          explode: false

        - name: additional_fields
          in: query
          required: false
          description: |
            Comma-separated list of additional fields to include in the export.
            If not sent, a default set of additional fields is used (see AppsFlyer docs).

            Examples of supported values include:
            - store_reinstall
            - impressions
            - contributor3_match_type
            - custom_dimension
            - conversion_type
            - gp_click_time
            - match_type
            - mediation_network
            - oaid
            - deeplink_url
            - blocked_reason
            - blocked_sub_reason
            - gp_broadcast_referrer
            - gp_install_begin
            - campaign_type
            - custom_data
            - rejected_reason
            - device_download_time
            - keyword_match_type
            - contributor1_match_type
            - contributor2_match_type
            - device_model
            - monetization_network
            - segment
            - is_lat
            - gp_referrer
            - blocked_reason_value
            - store_product_page
            - device_category
            - app_type
            - rejected_reason_value
            - ad_unit
            - keyword_id
            - placement
            - network_account_id
            - install_app_store
            - amazon_aid
            - att
            - engagement_type
            - gdpr_applies
            - ad_user_data_enabled
            - ad_personalization_enabled
            - total_candidates
          schema:
            type: array
            items:
              type: string
            example:
              - store_reinstall
              - impressions
              - conversion_type
          style: form
          explode: false

      responses:
        "200":
          description: Raw in-app events report in CSV format.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized – invalid or missing bearer token.
        "4XX":
          description: Client error – invalid parameters or other request issues.
        "5XX":
          description: Server error on AppsFlyer side.
